*{
    margin: 0px;
    padding: 0px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFA07A;
    color: white;
    height: 100px;
}

#hero{
    height: 100vh;
    background-image: url("/asset/pic1.jpg");
    background-size: cover;
    /* opacity: 0.7; */
    /* background-attachment:scroll; */
    background-repeat: no-repeat;
    position: relative;
    display: flex;
}

/* h2{
    color: black;
    opacity: 1;
} */

.kotak{
    position:relative;
    top:15%;
    /* background-color: pink; */
    height: 600px;
    width: 40%;
    left: 30%;
    display: flex;
    justify-content: center;
    border-radius: 3%;
    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 10px rgba(255,255,255,.3);
}

#tulisan1{
    padding-top: 20px;
    color: aliceblue;
    font-size: 30px;
}

h2{
    display: flex;
    justify-content: center;
}

.tulisan{
    color: aliceblue;
}

.satu{
    font-size: 25px;
    font-weight: 500;
    width: fit-content;
}

#bookTitle{
    box-sizing:border-box;
    height: 30px;
	width: 60vh;
	padding: 10px;
	/* font-size: 15pt; */
	margin-bottom: 20px;
    flex-direction: column;
}

.dua{
    font-size: 25px;
    font-weight: 500;
    width: fit-content;
}

#author{
    box-sizing:border-box;
    height: 30px;
	width: 60vh;
	padding: 10px;
	/* font-size: 15pt; */
	margin-bottom: 20px;
    flex-direction: column;
}

.tiga{
    font-size: 25px;
    font-weight: 500;
    width: fit-content;
}

#pageTotal{
    box-sizing:border-box;
    height: 30px;
	width: 60vh;
	padding: 10px;
	/* font-size: 15pt; */
	margin-bottom: 20px;
    flex-direction: column;
}

.empat{
    font-size: 25px;
    font-weight: 500;
    width: fit-content;
}

#releaseDate{
    box-sizing:border-box;
    height: 30px;
	width: 60vh;
	padding: 10px;
	/* font-size: 15pt; */
	margin-bottom: 70px;
    /* flex-direction: column; */
}

.tombol{
    background: #FAEBD7;
	color: #8B4513;
	font-size: 18px;
    font-weight: 500;
	width: 100%;
	border: none;
	border-radius: 8px;
    height: 30px;
    margin-bottom: 20px;
}

.tombol:hover{
    color: #FDF5E6;
    background-color: #DB7093;
}

.tombol2{
    color: white;
	text-decoration: none;
	font-size: 19px;
    font-weight: 500;
    /* width: 20%; */
    /* left: 50%; */
    display: flex;
    justify-content: center;
}

.tombol2:hover{
    color: #D3D3D3;
}