*{
    margin: 0px;
    padding: 0px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFA07A;
    color: white;
    height: 100px;
}

#hero{
    height: 100vh;
    background-image: url("/asset/pic1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
}

/* #selamat{
    display: flex;
    justify-content: center;
} */

.kotak{
    position:relative;
    top:15%;
    background-color: blue;
    height: 350px;
    width: 20%;
    left: 40%;
    display: flex;
    justify-content: center;
    border-radius: 5%;
    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 10px rgba(255,255,255,.3);
}

.tulisan{
    padding-top: 20px;
    color: aliceblue;
}

h2{
    display: flex;
    justify-content: center;
}

#tulisan1{
    color: 	#8B4513;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: 	#FAEBD7;
    border-radius: 10px;
    /* width: 125px; */
    height: 30px;
    font-size: 20px;
    font-weight: 500;
}
#tulisan1:hover{
    color: #FDF5E6;
    background-color: #DB7093;
}

#tulisan2{
    color: #8B4513;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #FAEBD7;
    border-radius: 10px;
    width: 210px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
}

#tulisan2:hover{
    color: #FDF5E6;
    background-color: #DB7093;
}

#tulisan3{
    color: #8B4513;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #FAEBD7;
    border-radius: 10px;
    width: 210px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
}

#tulisan3:hover{
    color: #FDF5E6;
    background-color: #DB7093;
}

#tulisan4{
    color: #8B4513;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #FAEBD7;
    border-radius: 10px;
    width: 210px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
}

#tulisan4:hover{
    color: #FDF5E6;
    background-color: #DB7093;
}